@CHARSET "UTF-8";
.rcontextmenu{border-bottom:none;1background:#F0F0F0;}
.rcontextmenu li{height:20px;line-height:20px;border-bottom:solid 1px #CCCCCC;padding-left:12px;}
.rcm_outer{width:100px;background:#f3f3f3;border-right:1px solid #fbfbfb;border-bottom:1px solid #fbfbfb;padding:1px;} 
.rcm_middle{background:#d8d8d8;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;padding:1px;} 
.rcm_inner{background:#fff;border-right:1px solid #bbb;border-bottom:1px solid #bbb;} 